body {
    background-color: wheat;
}

/* .body-first{
    background-image: url("/images/background1.jpg");
    height: 100%;
    width: 80%;
} */

.heading {
    position: absolute;
    top: 40%;
    left:40%;
    color: brown;
    font-size: 25px;
    
}
.heading span {
    color:aliceblue;
}
.display-picture{
    position:absolute;
    top:30%;
    left:70%;

}

.about-container {
    background-color: blueviolet;
    text-align: center;
    display: flex;
    flex-direction: column;
    

}



/* .about-container p{
    text-align: center;
} */
/* .about-container pre{
    
} */

.card-heading {
    text-align: center;
    color: cadetblue;

}

.card {
    display: flex;
    height:70vh;
    /* margin:100px;
    height:100px; */
}

.all-card{
    background-color: white;
    padding: 20px;
    margin:auto;
    text-align: center;
    border: 1px solid #bacdd8;
    box-shadow: 5px 10px #888888;
    /* width:20%;
    height:30%; */
}

/* .css-card{
    background-color: white;
    padding: 10px;
    margin:15px;
    text-align: center;
    box-shadow: 5px 10px #888888;
    border: 1px solid #bacdd8;

} */

.contact{
    text-align: center;
    
}

.icons{
    /* display:block;
    text-align: center; */
    margin-left: 40%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

